DATABASE_URL=postgresql://burayumart:burayumart_dev@localhost:5432/burayumart

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEBETA_MAPS_API_KEY=

PORT=5000
NODE_ENV=development